body{
    font: 11px "Arial";
}
table{
    border: cola;
}
td th{
    margin: 0 0 0 0;
    border-color: #cccccc;
    border-width: 10px;
    padding: 0px;
}
thead{
    background-color: #3498db;
    color: white;
    font-weight: bolder;
    text-align: left;
}
tbody tr:nth-child(odd){
    background: rgb(238 238 238);
}
