body{
    font-family: Arial;
}

.yellow-header-panel ul{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;
    background-color: #ffd721;
}

.yellow-header-panel li {
    display: table-cell;
    height: 62px;
    text-align: center;
    vertical-align: middle;
}

.yellow-header-panel sub{
    bottom: -0.09em;

}


.yellow-header-panel li > div{
    border-right: 1px solid #cdac1c;
}

.yellow-header-panel a{
    text-decoration: none;
    color: #846F0D;
}

.yellow-header-panel a:hover{
    text-decoration: underline;
}

.yellow-header-panel .disabled a{
    text-decoration: none;
    cursor: default;
    opacity: 0.3;
}

.yellow-header-panel .active a{
    text-decoration: underline;
    color: #d6020e;
}