body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

/*yellow-header-panel*/

.yellow-header-panel ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 19px;
    background-color: #ffd721;
}

.yellow-header-panel li {
    display: table-cell;
    height: 62px;
    text-align: center;
    vertical-align: middle;
}

.yellow-header-panel sub {
    bottom: 0;

}

.yellow-header-panel li > div {
    border-right: 1px solid #cdac1c;
}

.yellow-header-panel a {
    text-decoration: none;
    color: #846F0D;
}

.yellow-header-panel a:hover {
    text-decoration: underline;
}

.yellow-header-panel .disabled a {
    text-decoration: none;
    cursor: default;
    opacity: 0.3;
}

.yellow-header-panel .active a {
    text-decoration: underline;
    color: #d6020e;
}

/*End of yellow-header-panel*/

/*validators-table*/
.choosing-table {
    height: 260px;
    overflow: auto;
    padding: 0 10px;
}

.validators-table {
    width: 100%;
    border-spacing: 0;
}

.validators-table > thead > tr {
    font-size: 12px;
    color: #6e6e6e;
}

.validators-table > thead th {
    border-bottom: 1px solid #DDDDDD;
}

.validators-table th,
.validators-table td {
    color: #7f7f7f;
    padding: 10px 5px;
}

.validators-table .validator-col {
    width: 100px;
    text-align: left;
}

.validators-table .letter-col {
    width: 60px;
    text-align: center;
}

.validators-table .address-col {
    text-align: left;
}

.validators-table .rest-col {
    width: 90px;
    text-align: center;
    font-weight: bold;
}

.validators-table .comment-col {
    text-align: left;
}

.validators-table .comment-col input {
    width: 100%;
    text-align: left;
}

/*End of validators-table*/

/*Buttons*/

.buttons-panel {
    padding: 0 20px;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.buttons-panel .archive {
    float: left;
}

.buttons-panel .cancel-send {
    float: right;
}

.button {
    width: 175px;
    height: 42px;
    background-color: #8a9e34;
    color: white;
    border: 1px solid #647b26;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #95ac3e;
}

.button.button-white {
    background-color: #d2d1d1;
    color: #8c8d8d;
    border-color: #a7a6a3;
}

.button.button-white:hover {
    background-color: #dfdedd;
}

/*End of Buttons*/

/*Request-panel*/
.request-table-header{
    margin: 35px 0 0 0;
    line-height: 40px;
}
.request-table-header .left-previous-application {
    float: left;
}

.request-table-header .refresh-button-wrapper {
    float: right;
}

.request-table-header .refresh-button-wrapper>*{
    display: inline-block;
    vertical-align: middle;
}
.refresh-icon {
    width: 40px;
}

/*End of request-panel*/